NEXT_PUBLIC_ASGARDEO_BASE_URL=https://api.asgardeo.io/t/<org_name>
NEXT_PUBLIC_ASGARDEO_CLIENT_ID=
NEXT_PUBLIC_ASGARDEO_SIGN_IN_REDIRECT_URL=http://localhost:3000/api/auth/callback/asgardeo
NEXT_PUBLIC_ASGARDEO_SIGN_OUT_REDIRECT_URL=http://localhost:3000
ASGARDEO_CLIENT_SECRET=
